@font-face {
    font-family: tiko;
    src: url(fonts/Teko-Light.ttf);
}
@font-face {
    font-family: oxa;
    src: url(fonts/Oxanium-Light.ttf);
}
@font-face {
    font-family: play;
    src: url(fonts/Play-Bold.ttf);
}
